/*reset*/
/*reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}
body {
  font-family: Arial, "STHeiti", Helvetica, sans-serif;
  background: #fff;
  font-size: 14px;
  height: 100%;
  //max-width: 750px;
  //min-width: 20pc;
  line-height: 1.5;
  -webkit-tap-highlight-color: transparent;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  position: relative;
  width: 100%;
}
body {

  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;

  margin: 0;
  padding: 0;
  overflow-x: auto;
  -webkit-overflow-x:auto;
  overflow-y: hidden;
  -webkit-overflow-y:hidden;
  //overflow: hidden;
  //-webkit-overflow:hidden;
}
/**音乐符号**/
.btn-music{width: 70/7.5vw; height: 70/7.5vw; position: fixed; top:4/7.5vw; right: 0/7.5vw;z-index: 800;display:none}
.music{width:100%; height: 100%;}
/*************************横竖屏************************/
//横屏
.page-landscape{
  width:100vw;
  height:100vh;
  background:#333;
  position: fixed;
  left:0;
  top:0;
  z-index: 999;
  display: none;
  img{
    width: 134/12vw;
    height: 218/12vw;
    position: absolute;
    left:550/12vw;
    top:100/12vw;
    -webkit-animation: rotateImg infinite 1.5s ease-in-out;
    animation: rotateImg infinite 1.5s ease-in-out;
  }
  h3{
    font-size: 16px;
    position: absolute;
    color:#fff;
    left:50%;
    top:420/12vw;
    transform: translate(-50%,-50%);
  }
}
@keyframes rotateImg {
  0%{
    transform: rotate(0deg);
  }
  35%{
    transform: rotate(90deg);
  }
  65%{
    transform: rotate(90deg);
  }
  100%{
    transform: rotate(0deg);
  }
}
//竖屏
.page-portrait{
  width:100%;
  width: auto;
  height:100vh;
  position:relative;
  overflow: scroll;
  // overflow-y: hidden;
  // -webkit-overflow-y:hidden;
}
//loading设置
.load-page{
  width:100vw;
  height:100vh;
  position: absolute;
  left:0;
  top:0;
  z-index: 2;
  background: #fff;
  //loading动画展示区域
  .img-load-now{
    width:100%;
    text-align: center;
    position: absolute;
    left:0;
    top:45%;
    transform: translate(0,-50%);
    //loading 的gif图
    .loading-img{
      width:244/7.5vw;
      height:250/7.5vw;
      margin-bottom: 40/7.5vw;
    }
    //loading百分比
    p{
      width:100%;
      text-align: center;
      color:#000;
      font-size:34/7.5vw;
    }
  }
}

//PC提示
.viewPC{
  background:#333;
  width:100vw;
  height:100vh;
  position: fixed;
  left:0;
  top:0;
  display:none;
  z-index: 1000;
  .ewmBox{
    width:100%;
    position: absolute;
    left:0;
    top:50%;
    transform: translate(0,-50%);
    text-align: center;
    div{
      canvas{
        width:200px;
        height:200px;
        //margin-bottom: 40px;
        padding:10px;
        background:#fff;
      }
    }
    p{
      margin-top: 30px;
      color:#FFFFFF;
    }
  }
}



/*******************************荣威页面内容****************/
.page-one{
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background:url(../img/pageonebg.jpg);
  background-size: 100% 100%;
  .xinfeng{
    width: 588/7.5vw;
    height: 942/7.5vw;
    position: absolute;
    left: 90/7.5vw;
    top: 120/7.5vw;
  }
  .zhang01{
    width: 205/7.5vw;
    height: 111/7.5vw;
    position: absolute;
    left: 195/7.5vw;
    top: 287.5/7.5vw;
  }
  .zhang02{
    width: 207/7.5vw;
    height: 86/7.5vw;
    position: absolute;
    left: 187.5/7.5vw;
    top: 790/7.5vw;
  }
  .goContent{
    width: 400/7.5vw;
    height: 40/7.5vw;
    position: absolute;
    left: 175/7.5vw;
    bottom: 200/7.5vw;
    text-align: center;
    color: #fff;
  }
}
.pagebox{
  width: 100vw;
  height:100vh;
  display: none;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden; 
  background: #333;
  .content1, .content2, .content3, .content4, .content5, .content6{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
  }
  .bg{
    width:4500/7.5vw;
    min-height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.content1{
  left: 0;
  /****************第一部分********************/
  
}
//第二部分
.content2{
  left: 100vw;
}
@keyframes slideMove {
  0%{
    transform: translate(0,0);
  }
  50%{
    transform: translate(0,20/7.5vw);
  }
  100%{
    transform: translate(0,0);
  }
}
@-webkit-keyframes slideMove {
  0%{
    transform: translate(0,0);
  }
  50%{
    transform: translate(0,20/7.5vw);
  }
  100%{
    transform: translate(0,0);
  }
}
@keyframes shakeMove {
  0%{
    transform:  rotate3d(0, 0, 1, 4deg);
  }
  50%{
    transform:  rotate3d(0, 0, 1, -4deg);
  }
  100%{
    transform:  rotate3d(0, 0, 1, 4deg);
  }
}
@-webkit-keyframes shakeMove {
  0%{
    transform:  rotate3d(0, 0, 1, 4deg);
  }
  50%{
    transform:  rotate3d(0, 0, 1, -4deg);
  }
  100%{
    transform:  rotate3d(0, 0, 1, 4deg);
  }
}
@keyframes shandianShow {
  0%{
    height:0;
    opacity: 1;
    transform: scale3d(0, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
  100%{
    height:719/7.5vw;
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes shandianShow {
  0%{
    height:0;
    opacity: 1;
    transform: scale3d(0, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
  100%{
    height:719/7.5vw;
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
.content3{
  left: 200vw;
}
.content4{
  left: 300vw;
}
.content5{
  left: 400vw;
}
.content6{
  left: 500vw;
}




/***********************表单**********************/
ul{
  list-style: none;
}
input[type="text"],input[type="tel"],select{
  border:0;
  outline:none;
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
}
 .userEnd{
    width:100%;
    height:500/7.5vw;
    position:absolute;
    top:10794/7.5vw;
    left:0;
    display: none;
    
  }
.userInfo-box{
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  width:544/7.5vw;
  height:500/7.5vw;
  position: absolute;
  left:103/7.5vw;
  .input-form {
    box-sizing: border-box;
    width: 100%;
    li {
      box-sizing: border-box;
      width: 100%;
      height: 52/7.5vw;
      margin-bottom: 18/7.5vw;
      font-size: 24/7.5vw;
      position: relative;
      background:#eaeaea;
      em.select-icon{
        width:16/7.5vw;
        height:12/7.5vw;
        background: #666;
        -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
        clip-path: polygon(50% 100%, 0 0, 100% 0);
        position: absolute;
        right:12/7.5vw;
        top:50%;
        transform: translate(0,-50%);
        -webkit-transform: translate(0,-50%);
      }
      span {
        color: #000;
        position: absolute;
        left: -1px;
        font-size: 24/7.5vw;
        width: 112/7.5vw;
        height: 52/7.5vw;
        line-height: 52/7.5vw;
        text-align: center;
        background: #e8b841;
        letter-spacing:2px;
      }
      span.longspan{
        width:180/7.5vw;
        letter-spacing:1.5px;
      }
      input[type="text"] ,input[type="tel"]{
        padding-left: 130/7.5vw;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        font-size: 24/7.5vw;
        border-radius: 0;
        background: #eaeaea;
      }
      span.nobg{
        background: transparent;
      }
      input.men,input.women{
        color:#336699;
        //-webkit-appearance:inherit;
        //appearance: inherit;
        margin:0;
        margin-left:6px;
        top:3px;
        //font-size: 24/7.5vw;
        position: relative;
      }
      .sexbox{
        display: inline-block;
        padding-left:130/7.5vw;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        line-height: 52/7.5vw;
      }
      label{
        color:#fff;
        font-size: 24/7.5vw;
        padding-left: 52/7.5vw;

      }
      input.inputerror{
        background:rgba(255,231,147,0.8);
      }
      select {
        float: right;
        padding-left: 130/7.5vw;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        font-size: 24/7.5vw;
        border-radius: 0;
        color:#999;
        letter-spacing: 1px;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
        padding-right:30/7.5vw;
        background: #eaeaea;
      }
      select.longselect{
        padding-left:185/7.5vw;
      }
      select.changed{
        color:#333;
      }
    }
    li.province-city {
      border: 0;
      width:100%;
      background: transparent;
      select.ddlProvince {
        float: left;
        box-sizing: border-box;
        padding-left: 8/7.5vw;
        width: 260/7.5vw;
        height: 52/7.5vw;
      }
      select.ddlCity {
        padding-left: 8/7.5vw;
        float: right;
        box-sizing: border-box;
        width: 260/7.5vw;
        height: 52/7.5vw;
      }
      em.select-province{
        left:229/7.5vw;
      }
    }
    li.province-city:after {
      content: '';
      display: none;
      clear: both;
    }
  }

}
.btn-userInfo{
  background-size: 100% 100%;
  background:#e8b941;
  box-sizing:border-box;
  width:280/7.5vw;
  height:50/7.5vw;
  line-height: 50/7.5vw;
  top:230/7.5vw;
  left:235/7.5vw ;
  position:absolute;
  //animation: joinClick 4s ease infinite ;
  //-webkit-animation: joinClick 4s ease infinite ;
  letter-spacing: 3px;
  text-align: center;
  color:#000;
  font-size:26/7.5vw;
}


@keyframes joinClick {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  2.5%, 5% {
    -webkit-transform: scale(.98) rotate3d(0, 0, 1, -1.5deg);
    transform: scale(.98) rotate3d(0, 0, 1, -1.5deg);
  }

  7.5%, 12.5%, 17.5%, 22.5% {
    -webkit-transform: scale(1.05) rotate3d(0, 0, 1, 1.5deg);
    transform: scale(1.05) rotate3d(0, 0, 1, 1.5deg);
  }

  10%, 15%, 20% {
    -webkit-transform: scale(1.05) rotate3d(0, 0, 1, -1.5deg);
    transform: scale(1.05) rotate3d(0, 0, 1, -1.5deg);
  }
  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100%{
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes joinClick {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  2.5%, 5% {
    -webkit-transform: scale(.98) rotate3d(0, 0, 1, -1.5deg);
    transform: scale(.98) rotate3d(0, 0, 1, -1.5deg);
  }

  7.5%, 12.5%, 17.5%, 22.5% {
    -webkit-transform: scale(1.05) rotate3d(0, 0, 1, 1.5deg);
    transform: scale(1.05) rotate3d(0, 0, 1, 1.5deg);
  }

  10%, 15%, 20% {
    -webkit-transform: scale(1.05) rotate3d(0, 0, 1, -1.5deg);
    transform: scale(1.05) rotate3d(0, 0, 1, -1.5deg);
  }
  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100%{
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.alertBox{
  display: none;
  width: 100vw;
  height: 100vh;
  background-color:rgba(76,76,76,0.5);
  position: fixed;
  top: 0;
  left: 0;
}
.error{
  z-index: 100;
}
.success{
  background-color:transparent;
  z-index: 101;
}
.repace{
  z-index: 102;
}
.repaceagain{
  z-index: 103;
}

.alert{
  width: 400/60rem;
  height: 205/60rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.successZhong,.successNo{
  background-color:transparent;
  z-index: 101;
  img{
    width:400/60rem;
    height:236/60rem;
  }
}
.btn-userInfo{
  opacity: 1;
}
.btn-move{
  -webkit-animation:buttonTada 4s ease infinite ;
  animation:buttonTada 4s ease infinite ;
}
@keyframes buttonTada {//loading开始小图标
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  2.5%, 5% {
    -webkit-transform: scale(.95) rotate3d(0, 0, 1, -0.5deg);
    transform: scale(.95) rotate3d(0, 0, 1, -0.5deg);
  }

  7.5%, 12.5%, 17.5%, 22.5% {
    -webkit-transform: scale(1.05) rotate3d(0, 0, 1, 0.5deg);
    transform: scale(1.05) rotate3d(0, 0, 1, 0.5deg);
  }

  10%, 15%, 20% {
    -webkit-transform: scale(1.05) rotate3d(0, 0, 1, -0.5deg);
    transform: scale(1.05) rotate3d(0, 0, 1, -0.5deg);
  }
  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100%{
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes buttonTada {//loading开始小图标
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  2.5%, 5% {
    -webkit-transform: scale(.95) rotate3d(0, 0, 1, -0.5deg);
    transform: scale(.95) rotate3d(0, 0, 1, -0.5deg);
  }

  7.5%, 12.5%, 17.5%, 22.5% {
    -webkit-transform: scale(1.05) rotate3d(0, 0, 1, 0.5deg);
    transform: scale(1.05) rotate3d(0, 0, 1, 0.5deg);
  }

  10%, 15%, 20% {
    -webkit-transform: scale(1.05) rotate3d(0, 0, 1, -0.5deg);
    transform: scale(1.05) rotate3d(0, 0, 1, -0.5deg);
  }
  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100%{
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}





