/*reset*/
/*reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}
body {
  font-family: Arial, "STHeiti", Helvetica, sans-serif;
  background: #fff;
  font-size: 14px;
  height: 100%;
  //max-width: 750px;
  //min-width: 20pc;
  line-height: 1.5;
  -webkit-tap-highlight-color: transparent;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  position: relative;
  width: 100%;
}
body {

  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;

  margin: 0;
  padding: 0;
  overflow-x: auto;
  -webkit-overflow-x:auto;
  overflow-y: hidden;
  -webkit-overflow-y:hidden;
  //overflow: hidden;
  //-webkit-overflow:hidden;
}
body.fixed{
  overflow: hidden!important;
}
/**音乐符号**/
.btn-music{width: 70/7.5vw; height: 70/7.5vw; position: fixed; top:4/7.5vw; right: 0/7.5vw;z-index: 800;display:none}
.music{width:100%; height: 100%;}
/*************************横竖屏************************/
//横屏
.page-landscape{
  width:100vw;
  height:100vh;
  background:#333;
  position: fixed;
  left:0;
  top:0;
  z-index: 999;
  display: none;
  img{
    width: 134/12vw;
    height: 218/12vw;
    position: absolute;
    left:550/12vw;
    top:100/12vw;
    -webkit-animation: rotateImg infinite 1.5s ease-in-out;
    animation: rotateImg infinite 1.5s ease-in-out;
  }
  h3{
    font-size: 16px;
    position: absolute;
    color:#fff;
    left:50%;
    top:420/12vw;
    transform: translate(-50%,-50%);
  }
}
@keyframes rotateImg {
  0%{
    transform: rotate(0deg);
  }
  35%{
    transform: rotate(90deg);
  }
  65%{
    transform: rotate(90deg);
  }
  100%{
    transform: rotate(0deg);
  }
}
//竖屏
.page-portrait{
  width:100vw;
  width: auto;
  height:100vh;
  position:relative;
  overflow-y: hidden;
  -webkit-overflow-y:hidden;
  overflow-x: auto;
  -webkit-overflow-x:auto;
  -webkit-overflow-scrolling: touch;
  // &.fixed{
  //   overflow-x: hidden;
  //   -webkit-overflow-x:hidden;
  //   overflow-y: scroll;
  //   -webkit-overflow-y:scroll;
  //   // position: fixed;
  // }
  // &.scroll{
  //   overflow-y: hidden;
  //   -webkit-overflow-y:hidden;
  //   overflow-x: scroll;
  //   -webkit-overflow-x:scroll;
  //   -webkit-overflow-scrolling: touch;
  // }
}
//loading设置
.load-page{
  width:100vw;
  height:100vh;
  position: absolute;
  left:0;
  top:0;
  z-index: 2;
  color: #fff;
  // display: none;
  background:url(../img/pageonebg.jpg);
  background-size: 100% 100%;
  //loading动画展示区域
  .img-load-now{
    width:100%;
    text-align: center;
    position: absolute;
    left:0;
    top:45%;
    transform: translate(0,-50%);
    //loading 的gif图
    .loading-img{
      width:244/7.5vw;
      height:250/7.5vw;
      margin-bottom: 40/7.5vw;
    }
    //loading百分比
    p{
      width:100%;
      text-align: center;
      color:#fff;
      font-size:34/7.5vw;
    }
  }
}

//PC提示
.viewPC{
  background:#333;
  width:100vw;
  height:100vh;
  position: fixed;
  left:0;
  top:0;
  display:none;
  z-index: 1000;
  .ewmBox{
    width:100%;
    position: absolute;
    left:0;
    top:50%;
    transform: translate(0,-50%);
    text-align: center;
    div{
      canvas{
        width:200px;
        height:200px;
        //margin-bottom: 40px;
        padding:10px;
        background:#fff;
      }
    }
    p{
      margin-top: 30px;
      color:#FFFFFF;
    }
  }
}



/*******************************荣威页面内容****************/
.page-one{
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background:url(../img/pageonebg.jpg);
  background-size: 100% 100%;
  .xinfeng{
    width: 588/7.5vw;
    height: 942/7.5vw;
    position: absolute;
    left: 90/7.5vw;
    top: 120/7.5vw;
  }
  .zhang01{
    width: 205/7.5vw;
    height: 111/7.5vw;
    position: absolute;
    left: 195/7.5vw;
    top: 287.5/7.5vw;
    opacity: 0;
    animation: fadeIn 0.1s 0.5s linear forwards;
  }
  .zhang02{
    width: 207/7.5vw;
    height: 86/7.5vw;
    position: absolute;
    left: 187.5/7.5vw;
    top: 790/7.5vw;
    opacity: 0;
    animation: fadeIn 0.1s 0.9s linear forwards;
  }
  .goContent{
    width: 400/7.5vw;
    height: 40/7.5vw;
    position: absolute;
    left: 175/7.5vw;
    bottom: 100/7.5vw;
    text-align: center;
    color: #fff;
    animation: fadeToContent 2s linear infinite;
  }
}
@keyframes fadeToContent{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 1;
  }
}
.pagebox{
  width:4500/7.5vw;
  height:100vh;
  display: none;
  position: relative;
  overflow: hidden;
  background: #333;
  .content1, .content2, .content3, .content4, .content5, .content6{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    display: none;
  }
  .bg{
    width:4500/7.5vw;
    min-height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
  }
  .ball_09{
    width: 708/7.5vw;
    height: 432/7.5vw;
    position: absolute;
    left: 1140/7.5vw;
    top: 564/7.5vw;
    animation: ballmove 5s linear infinite;
  }
  .ball_06{
    width: 178/7.5vw;
    height: 178/7.5vw;
    position: absolute;
    left: 2156/7.5vw;
    top: 435/7.5vw;
    animation: ballmove 5s linear infinite;
  }
  .ball_03{
    width: 1025/7.5vw;
    height: 1025/7.5vw;
    position: absolute;
    left: 2664/7.5vw;;
    top: 1043/7.5vw;
    animation: ballmove 5s linear infinite;
  }
  .ball_17{
    width: 62/7.5vw;
    height: 62/7.5vw;
    position: absolute;
    left: 3696/7.5vw;
    top: 894/7.5vw;
    animation: ballmove 5s linear infinite;
  }
  .ball_08{
    width: 225/7.5vw;
    height: 235/7.5vw;
    position: absolute;
    left: 4066/7.5vw;;
    top: 105/7.5vw;
    animation: ballmove 5s linear infinite;
  }
  .ball_12{
    width: 134/7.5vw;
    height: 146/7.5vw;
    position: absolute;
    left: 4400/7.5vw;
    top: 583/7.5vw;
    animation: ballmove 5s linear infinite;
  }
  .move-tip{ 
    width: 200/7.5vw;
    height: 60/7.5vw;
    position: fixed;
    right: 0;
    top: 45%;
    padding-top: 100/75vw;
    opacity: 0;
    animation: movetipshow 0.3s 1s linear forwards;
    img{
      width: 48/7.5vw;
      height: 65/7.5vw;
      position: absolute;
      left: 50%;
      top: 0;
      transform: translate(-50%, 0);
      animation: jiantoumove 2s linear infinite;
    }
    @keyframes jiantoumove {
      0%{
        left: 0vw;
        opacity: 1;
      }
      60%{
        left: -30/7.5vw;
        opacity: 1;
      }
      80%{
        left: -30/7.5vw;
        opacity: 0;
      }
      100%{
        left: 0vw;
        opacity: 0;
      }
    }
    div{
      color: #ffffff;
      font-size: 12px;
      text-align: center;
      width: 100px;
    }
  }
  @keyframes movetipshow {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
}
/****************第一部分********************/
.content1{
  left: 0;
  .pagetwo-time{
    width: 643/7.5vw;
    height: 716/7.5vw;
    position: absolute;
    left: 52.5/7.5vw;
    top: 135/7.5vw;
  }
  .pagetwo-qun{
    width: 515/7.5vw;
    height: 824/7.5vw;
    position: absolute;
    left: 195/7.5vw;
    top: 70/7.5vw;
  }
  .pagetwo-hudie{
    width: 564/7.5vw;
    height: 453/7.5vw;
    position: absolute;
    left: 97/7.5vw;
    top: 330/7.5vw;
    transform: rotate(-30deg);
  }
  .pagetwo-text1{
    width: 492/7.5vw;
    height: 296/7.5vw;
    position: absolute;
    left: 129/7.5vw;
    top: 828/7.5vw;
    opacity: 0;
    -webkit-animation:fadeIn 0.6s ease 0.5s forwards;
    animation:fadeIn 0.6s ease 0.5s forwards;
  }
  .pagetwo-text2{
    width: 368/7.5vw;
    height: 25/7.5vw;
    position: absolute;
    left: 191/7.5vw;
    top: 1099/7.5vw;
    opacity: 0;
     animation: fadeIn 0.8s ease 1s forwards;
  }

  .pagetwo-logo{
    width: 185/7.5vw;
    height: 46/7.5vw;
    position: absolute;
    left: 282.5/7.5vw;
    bottom: 80/7.5vw;
  }
  .pagetwo-text3{
    width: 643/7.5vw;
    height: 716/7.5vw;
    position: absolute;
    left: 52.5/7.5vw;
    top: 135/7.5vw;
  }
  
}
//第二部分
.content2{
  left: 100vw;
  .pagethree-kuang{
    width: 580/7.5vw;
    height: 851/7.5vw;
    position: absolute;
    left: 85/7.5vw;
    top: 194/7.5vw;
  }
  .pagethree-text{
    width: 486/7.5vw;
    height: 610/7.5vw;
    position: absolute;
    left: 132/7.5vw;
    top: 307/7.5vw;
  }
}
@keyframes slideMove {
  0%{
    transform: translate(0,0);
  }
  50%{
    transform: translate(0,20/7.5vw);
  }
  100%{
    transform: translate(0,0);
  }
}
@-webkit-keyframes slideMove {
  0%{
    transform: translate(0,0);
  }
  50%{
    transform: translate(0,20/7.5vw);
  }
  100%{
    transform: translate(0,0);
  }
}
@keyframes shakeMove {
  0%{
    transform:  rotate3d(0, 0, 1, 4deg);
  }
  50%{
    transform:  rotate3d(0, 0, 1, -4deg);
  }
  100%{
    transform:  rotate3d(0, 0, 1, 4deg);
  }
}
@-webkit-keyframes shakeMove {
  0%{
    transform:  rotate3d(0, 0, 1, 4deg);
  }
  50%{
    transform:  rotate3d(0, 0, 1, -4deg);
  }
  100%{
    transform:  rotate3d(0, 0, 1, 4deg);
  }
}
@keyframes shandianShow {
  0%{
    height:0;
    opacity: 1;
    transform: scale3d(0, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
  100%{
    height:719/7.5vw;
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes shandianShow {
  0%{
    height:0;
    opacity: 1;
    transform: scale3d(0, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
  100%{
    height:719/7.5vw;
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
.content3{
  left: 200vw;
  .pagefour-title{
    width: 372/7.5vw;
    height: 100/7.5vw;
    position: absolute;
    left: 189/7.5vw;
    top: 135/7.5vw;
  }
  .pagefour-kuang{
    width: 532/7.5vw;
    height: 819/7.5vw;
    position: absolute;
    left: 109/7.5vw;
    top: 258/7.5vw;
  }
  .pagefour-text-box{
    width: 280/7.5vw;
    height: 720/7.5vw;
    position: absolute;
    left: 235/7.5vw;
    top: 300/7.5vw;
    .pagefour-text{
      width: 280/7.5vw;
      height: 80/7.5vw;
      line-height: 80/7.5vw;
      position: relative;
      border-bottom: 1px solid #607bad;
      box-sizing: border-box;
      text-align: center;
      img{
        width: 150/7.5vw;
        height: 35/7.5vw;
      }
      &:last-child{
        border-bottom: 0;
      }
    }
    
  }
}
.content4{
  left: 300vw;
  .pagefive-title{
    width: 308/7.5vw;
    height: 95/7.5vw;
    position: absolute;
    left: 221/7.5vw;
    top: 137/7.5vw;
  }
  .pagefive-people{
    width: 539/7.5vw;
    height: 734/7.5vw;
    position: absolute;
    left: 105.5/7.5vw;
    top: 302/7.5vw;
    opacity: 0;
    animation: zoomIn 0.5s 0.3s forwards;
  }
  .pagesix-people1{
    width: 252/7.5vw;
    height: 351/7.5vw;
    position: absolute;
    left: 102/7.5vw;
    top: 302/7.5vw;
    opacity: 0;
    animation: fadeInLeft 0.8s 3s forwards;
  }
  .pagesix-people2{
    width: 252/7.5vw;
    height: 352/7.5vw;
    position: absolute;
    right: 102/7.5vw;
    top: 302/7.5vw;
    opacity: 0;
    animation: fadeInRight 0.8s 3s forwards;
  }
  .pagesix-people3{
    width: 252/7.5vw;
    height: 351/7.5vw;
    position: absolute;
    left: 102/7.5vw;
    top: 680/7.5vw;
    opacity: 0;
    animation: fadeInLeft 0.8s 3s forwards;
  }
  .pagesix-people4{
    width: 252/7.5vw;
    height: 350/7.5vw;
    position: absolute;
    right: 102/7.5vw;
    top: 680/7.5vw;
    opacity: 0;
    animation: fadeInRight 0.8s 3s forwards;
  }
}
.content5{
  left: 400vw;
  .pageeight-title{
    width: 370/7.5vw;
    height: 90/7.5vw;
    position: absolute;
    right: 190/7.5vw;
    top: 85/7.5vw;
    transform: translate3d(0, 100%, 0);
    animation: slideInUp 0.5s 0s forwards;
  }
  .pageeight-text1{
    width: 566/7.5vw;
    height: 221/7.5vw;
    position: absolute;
    right: 92/7.5vw;
    top: 213/7.5vw;
    transform: translate3d(0, 100%, 0);
    animation: slideInUp 0.5s 0.1s forwards;
  }
  .pageeight-text2{
    width: 580/7.5vw;
    height: 722/7.5vw;
    position: absolute;
    right: 10.3vw;
    top: 444/7.5vw;
    transform: translate3d(0, 100%, 0);
    animation: slideInUp 0.5s 0.15s forwards;
  }
}
.content6{
  left: 500vw;
  .pagenine-title{
    width: 365/7.5vw;
    height: 92/7.5vw;
    position: absolute;
    left: 192.5/7.5vw;
    top: 88/7.5vw;
    opacity: 0;
    animation: fadeInDown 0.8s forwards;
  }
  .pagenine-informbg{
    width: 574/7.5vw;
    height: 545/7.5vw;
    position: absolute;
    left: 88/7.5vw;
    top: 27vw;
    opacity: 0;
    animation: fadeIn 0.8s forwards;
  }
  .pagenine-tishi{
    width: 180/7.5vw;
    height: 40/7.5vw;
    position: absolute;
    left: 0;
    top: 588/7.5vw; 
  }
  .pagenine-huodong{
    width: 153/7.5vw;
    height: 40/7.5vw;
    position: absolute;
    right: 0;
    top: 585/7.5vw;
  }
  
}
.content6-detail{
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: url(../img/last-bg.png);
  background-size: 100% 100%;
  display: none;
    .pagenine-close{
      width: 49/7.5vw;
      height: 48/7.5vw;
      position: absolute;
      right: 58.5/7.5vw;
      top: 60/7.5vw;
    }
    .pagenine-long-box{
      width: 585/7.5vw;
      height: 1045/7.5vw;
      position: absolute;
      left: 82.5/7.5vw;
      top: 84/7.5vw;
      overflow-x: hidden;
      overflow-y: scroll;
      border: 1px solid #607bad;
      background: #080d30;
      img{
        width: 100%;
        height: auto;
        margin-bottom: -10px;
      }
    }
    .pagenine-jiantou{
      width: 28/7.5vw;
      height: 89/7.5vw;
      position: absolute;
      left: 361/7.5vw;
      top: 950/7.5vw;
      animation: fadeInUp 2s infinite;
    }
}

.content6-success{
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: url(../img/last-bg.png);
  background-size: 100% 100%;
  .pageten-title{
    width: 403/60rem;
    height: 108/60rem;
    position: absolute;
    left: 50%;
    top: 426/7.5vw;
    -webkit-transform: translate(-50%,0);
    transform: translate(-50%,0);
  }
  .pageten-save{
    width: 120/60rem;
    height: 135/60rem;
    position: absolute;
    top: 577/7.5vw;
    left: 184/7.5vw;
  }
  .pageten-share{
    width: 172/60rem;
    height: 127/60rem;
    position: absolute;
    top: 577/7.5vw;
    right: 184/7.5vw;
  }
}
.content6-saveimg{
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: url(../img/last-bg.png);
  background-size: 100% 100%;
  .pagelast-title{
    width: 365/60rem;
    height: 92/60rem;
    position: absolute;
    left: 50%;
    top: 128/7.5vw;
    -webkit-transform: translate(-50%,0);
    transform: translate(-50%,0);
  }
  .pagelast-saveimg{
    width: 433/7.5vw;
    height: auto;
    position: absolute;
    top: 261/7.5vw;
    left: 50%;
    -webkit-transform: translate(-50%,0);
    transform: translate(-50%,0);
    border-radius: 3px;
    box-shadow: 3px 0px 5px rgba(1, 1, 1, 0.4);
  }
}
.content6-sharediv{
    display: none;
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      background: rgba(0,0,0,0.6);
      .pagelast-shareimg{
          width: 324/7.5vw;
          height: 133/7.5vw;
          position: absolute;
          right:62/7.5vw ;
          top:42/7.5vw;
      }
}



@-webkit-keyframes ballmove{
            0%{
                -webkit-transform: translate3d(0, -2px, 0);
                transform: translate3d(0, -2px, 0);
                opacity: 0.6;
            }
            25%{
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
                 opacity: 0.8;
            }
            50%{
                 -webkit-transform: translate3d(0, 1px, 0);
                transform: translate3d(0, 3px, 0);
                 opacity: 1;
            }
            75%{
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
                 opacity: 0.8;
            }
            100% {
                -webkit-transform: translate3d(0, -2px, 0);
                transform: translate3d(0, -2px, 0);
                 opacity: 0.6;
            }
            
          }

/***********************表单**********************/
ul{
  list-style: none;
}
input[type="text"],input[type="tel"],select{
  border:0;
  outline:none;
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
}
input{
  &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder, &::-webkit-input-placeholder {
    color: #80a1d7!important;
  } 
}
 .userEnd{
    width:100%;
    height:1000/7.5vw;
    position:absolute;
    top: 209/7.5vw;
    left:0; 
    opacity: 0;
    animation: fadeIn 0.8s forwards;
  }
.userInfo-box{
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  width:574/7.5vw;
  height:1000/7.5vw;
  position: absolute;
  left: 88/7.5vw;
  top: 0;
  .input-form {
    box-sizing: border-box;
    width: 100%;
    li {
      box-sizing: border-box;
      width: 100%;
      height: 60/7.5vw;
      margin-bottom: 18/7.5vw;
      font-size: 12px;
      position: relative;
      color: #80a1d7;
      padding:0 35/7.5vw;
      input[type="text"] ,input[type="tel"]{
        // padding-left: 130/7.5vw;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        font-size: 12px;
        border-radius: 0;
        color: #80a1d7;
        background: transparent;
        
      }
      input.error{
        color:rgba(255,0,0,0.8);
      }
      select {
        // padding-left: 130/7.5vw;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        font-size: 12px;
        border-radius: 0;
        color:#666666;
        letter-spacing: 1px;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
        background: transparent;
        padding-right: 4vw;
        option{
          width: 100%;
          height: 60/7.5vw;
          line-height: 60/7.5vw;
          font-size: 12px;
          background: #fff;
        }
        &.changed{
          color: #80a1d7;
        }
      }
     
    }
  }
}
.btn-userInfo{
  width:310/7.5vw;
  height:85/7.5vw;
  top:690/7.5vw;
  left:136/7.5vw ;
  position:absolute;
  //animation: joinClick 4s ease infinite ;
  //-webkit-animation: joinClick 4s ease infinite ;
  background: url(../img/pagenine-btn.png);
  background-size: 100% 100%;
}


@keyframes joinClick {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  2.5%, 5% {
    -webkit-transform: scale(.98) rotate3d(0, 0, 1, -1.5deg);
    transform: scale(.98) rotate3d(0, 0, 1, -1.5deg);
  }

  7.5%, 12.5%, 17.5%, 22.5% {
    -webkit-transform: scale(1.05) rotate3d(0, 0, 1, 1.5deg);
    transform: scale(1.05) rotate3d(0, 0, 1, 1.5deg);
  }

  10%, 15%, 20% {
    -webkit-transform: scale(1.05) rotate3d(0, 0, 1, -1.5deg);
    transform: scale(1.05) rotate3d(0, 0, 1, -1.5deg);
  }
  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100%{
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes joinClick {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  2.5%, 5% {
    -webkit-transform: scale(.98) rotate3d(0, 0, 1, -1.5deg);
    transform: scale(.98) rotate3d(0, 0, 1, -1.5deg);
  }

  7.5%, 12.5%, 17.5%, 22.5% {
    -webkit-transform: scale(1.05) rotate3d(0, 0, 1, 1.5deg);
    transform: scale(1.05) rotate3d(0, 0, 1, 1.5deg);
  }

  10%, 15%, 20% {
    -webkit-transform: scale(1.05) rotate3d(0, 0, 1, -1.5deg);
    transform: scale(1.05) rotate3d(0, 0, 1, -1.5deg);
  }
  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100%{
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.alertBox{
  display: none;
  width: 100vw;
  height: 100vh;
  background-color:rgba(76,76,76,0.5);
  position: fixed;
  top: 0;
  left: 0;
}
.error{
  z-index: 100;
}
.success{
  background-color:transparent;
  z-index: 101;
}
.repace{
  z-index: 102;
}
.repaceagain{
  z-index: 103;
}

.alert{
  width: 400/60rem;
  height: 205/60rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.btn-userInfo{
  opacity: 1;
}
.btn-move{
  -webkit-animation:buttonTada 4s ease infinite ;
  animation:buttonTada 4s ease infinite ;
}
@keyframes buttonTada {//loading开始小图标
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  2.5%, 5% {
    -webkit-transform: scale(.95) rotate3d(0, 0, 1, -0.5deg);
    transform: scale(.95) rotate3d(0, 0, 1, -0.5deg);
  }

  7.5%, 12.5%, 17.5%, 22.5% {
    -webkit-transform: scale(1.05) rotate3d(0, 0, 1, 0.5deg);
    transform: scale(1.05) rotate3d(0, 0, 1, 0.5deg);
  }

  10%, 15%, 20% {
    -webkit-transform: scale(1.05) rotate3d(0, 0, 1, -0.5deg);
    transform: scale(1.05) rotate3d(0, 0, 1, -0.5deg);
  }
  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100%{
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes buttonTada {//loading开始小图标
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  2.5%, 5% {
    -webkit-transform: scale(.95) rotate3d(0, 0, 1, -0.5deg);
    transform: scale(.95) rotate3d(0, 0, 1, -0.5deg);
  }

  7.5%, 12.5%, 17.5%, 22.5% {
    -webkit-transform: scale(1.05) rotate3d(0, 0, 1, 0.5deg);
    transform: scale(1.05) rotate3d(0, 0, 1, 0.5deg);
  }

  10%, 15%, 20% {
    -webkit-transform: scale(1.05) rotate3d(0, 0, 1, -0.5deg);
    transform: scale(1.05) rotate3d(0, 0, 1, -0.5deg);
  }
  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100%{
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}





